/* Large desktops and laptops */
@media (min-width: 1200px) {








}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}



/*Home*/

.imposibleitem{
	/*position: relative;*/
	/*height: 555px;*/
	margin-bottom: 100px;
}

.imposibleitem .panel_info_product{
	position: absolute;
	margin: 0 auto;
	bottom: 100%;
	left: 0px;
	right: 0px;
	opacity: 0;
	display: none;
}

.imposibleitem .panel_info_product .woocommerce-Price-amount{
	color: white;
	font-size: 40px;
}

.imposibleitem .panel_info_product h4 a{
	color: white;
	font-size: 40px;
	width: 60%;
	margin: 0 auto;
}

.imposibleitem:hover .panel_info_product{
	display: block;
	bottom: 70%;
	opacity: 1;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}


.pad0{
	padding: 0px;
}

.description_tab{
	display: none !important;
}